@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: auto;
}

.list-non-bullet {
  list-style: none;
}
hr {
  max-width: 80%;
}
.list-item-inline {
  display: inline;
  padding: 0.5rem;
  border: 0.5px solid;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0.5rem;
}

.list-item {
  border: 1px solid grey;
  padding: 0.8rem 1rem;
  border-radius: 0.8rem;
  width: 30%;
  margin: 0.5rem auto;
}

.rating {
  display: block;
  padding: 0.2rem 0;
}
